version: '3'
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: react_frontend
    env_file:
      - ./.env
    # environment:
    #   - REACT_APP_API_URL=${REACT_APP_API_URL}
    ports:
      - '80'
    volumes:
      - ./:/app
      - /app/node_modules
    networks:
      - npm
networks:
  npm:
    external: true